{{ define "main" }}
    <div class="container">
        <h1>Tutti i Post del Blog</h1>
        <hr>
        {{ range .Site.RegularPages }}
        <div class="row mb-4">
            <div class="col-sm">
                <h2 style="color: #AA2017;"><a href="{{ .Permalink }}" style="color: red;">{{ .Title }}</a></h2>
                <p>{{ .Params.description }}</p>
                <a href="{{ .Permalink }}" class="btn btn-primary" style="color: red;">Leggi di più</a>
            <hr>
            </div>
        </div>
        {{ end }}
    </div>
{{ partial "rss.html" . }}
{{ end }}
